.navbar-area
    nav(class="navbar navbar-expand-lg navbar-light ")
        .container
            //-Logo
            //-a(href="#", title="title" class="navbar-brand")
                //-img(src="img/logo-home.png", alt="" class="logo")
            //-Button Phone
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            //-MY links
            div(class="collapse navbar-collapse" id="navbarNavDropdown")
                ul.navbar-nav.m-auto
                    li.nav-item.active
                        a(class="nav-link" href="index.html") Home
                            span.sr-only
                    li.nav-item
                        a(class="nav-link" href="#") About
                    li.nav-item
                        a(class="nav-link" href="#") Contacts
                        
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MIS
                        div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                            a(href="#", title="title" class="dropdown-item") #1
                            a(href="#", title="title" class="dropdown-item") #2
                            a(href="#", title="title" class="dropdown-item") #3
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tourism&Hotels
                        div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                            a(href="#", title="title" class="dropdown-item") #1
                            a(href="#", title="title" class="dropdown-item") #2
                            a(href="#", title="title" class="dropdown-item") #3
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Archaeology
                        div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                            a(href="#", title="title" class="dropdown-item") #1
                            a(href="#", title="title" class="dropdown-item") #2
                            a(href="#", title="title" class="dropdown-item") #3
