//-bootstrap
link(rel="stylesheet", href="style/libs/bootstrap.min.css")
//-swiper
link(rel="stylesheet", href="style/libs/swiper.min.css")
//-popup
link(rel="stylesheet", href="style/libs/magnific-popup.css")
//-owl-carousel
link(rel="stylesheet", href="style/libs/owl.carousel.min.css")
link(rel="stylesheet", href="style/libs/owl.theme.default.min.css")
//-animation
link(rel="stylesheet", href="style/libs/animations.css")

//-fontawesome
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
//-page icon
link(rel="icon", href="img/page-icon.png")
//-custom style 
link( rel="stylesheet", href="style/main.css")
