//-Jquery
script(src="js/libs/jquery-3.4.1.min.js")
//-Bootstrap
script(src="js/libs/bootstrap.min.js")
//-Swiper For Banner
//-script(src="js/libs/swiper.min.js")
//-typed
//-srcipt(src="js/libs/typed.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js")
//-Nice Scrol page Scroling
//-script(src="js/libs/jquery.nicescroll.min.js")
//-isotope for portfolio
//-script(src="js/libs/isotope.js")
//--Popup img
//-script(src="js/libs/jquery.magnific-popup.min.js")
//-Carousel slide
//-script(src="js/libs/owl.carousel.min.js")
//-animation
//-script(src="js/libs/css3-animate-it.js")
//--Main Js File
script(src="js/main.js")
