<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-My Links File
        include helper/link
        title Aboukir High Institutes
    body
        .banner
            .overlay
            //-Top bar area
            div(class="toppar-area")
                .container
                    .row.text-center
                        .col-4.page-title
                            h2 Aboukir High Institutes
                        .col-4
                            a(href="#", title="title" class="navbar-brand")
                                img(src="img/logo-home.png", alt="" class="logo")
                        .col-4
                            form(action="" class="form-inline" )
                                input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
                                button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
            
            //-Header Page
            include helper/header






        //-My Scripts File
        include helper/script
        