<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-My Links File
        include helper/link
        title Aboukir High Institutes
    body
        //-Scrollbar
        div(id="scrollbar")
        //--facebook chat
        div(id="fb-root")
        script.
            window.fbAsyncInit = function() {
                FB.init({
                xfbml:true,version:'v6.0'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];

                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/ar_AR/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        
        div( class="fb-customerchat" attribution=setup_tool page_id="1608351572767307" theme_color="#0084ff")
        //-banner Area
        .header-area
            //-overlay
            //video(src="img/video-20.mp4" autoplay muted loop)
            //-Header Page
            include helper/header
            //-notification--area
            div(class="notification " aria-live="polite" aria-atomic="true" style="position: relative;")
                    div(style="position: fixed; right: 10px;")
                        div(class="toast" data-animation="true" data-autohide="true" data-delay="8000" role="alert" aria-live="assertive" aria-atomic="true")
                            div(class="toast-header")
                                strong(class="mr-auto text-primary") #[i.fab.fa-facebook] Notification
                                small(class="text-muted") 1 m
                                button(type="button" class="ml-2 mb-1 close" data-dismiss="toast") &times;
                            div(class="toast-body")   هذا الموقع تحت الصيانة من فضلك الانتظار حتا اكتمال الموقع من التصميم 
            //-Fixed-area-banner
            div(class="fixed-area d-none d-md-block")
            
                div.social.facebook
                    a(href="#", title="title") 
                        p Like on Facebook
                            i.fab.fa-facebook.fa-3x

                div.social.instagram
                    a(href="#", title="title") 
                        p Like on Instagram
                            i.fab.fa-instagram.fa-3x

                div.social.twitter
                    a(href="#", title="title") 
                        p  Like Us on twitter
                            i.fab.fa-twitter.fa-3x

                div.social.youtube
                    a(href="#", title="title") 
                        p  Like Us on youtube
                            i.fab.fa-youtube.fa-3x

                div.social.university
                    a(href="#", title="title") 
                        p  الدراسة فى الجامعة
                            i.fa.fa-university.fa-3x

                div.social.align-center
                    a(href="#", title="title") 
                        p  مراكز الجامع
                            i.fa.fa-list-ul.fa-3x

                div.social.edit
                    a(href="#", title="title") 
                        p الأبحاث العلمية 
                            i.fa.fa-edit.fa-3x
                        
                div.social.book
                    a(href="#", title="title") 
                        p التعليم الإلكترونى
                            i.fa.fa-book.fa-3x
            //-shaper Area
            div(class="shape")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none")
                    path(class="shape-fill" d="M0 0L2600 0 2600 69.1 0 0z")
                    path(class="shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z")
                    path(class="shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z")
            //-banner container
            div(class="banner")
                .container
                    .banner-info.text-center
                        img(src="img/logo-home.png", alt="")
                        h2.h1 Aboukir High Institute
                        h2.h3 معاهد ابو قير العليا
                        .typed-area.my-3
                            h2(class="typing")
                            
                        .icons.my-3.d-md-none
                            a(href="#", title="facebook") 
                                i.fab.fa-facebook.fa-3x
                            a(href="#", title="title") 
                                i.fab.fa-instagram.fa-3x
                            a(href="#", title="title")
                                i.fab.fa-twitter.fa-3x
        
        //-about area
        .about-area.text-center
            .container
                h2.h1 About Us
                h2.h3 نبذة عن معهد ابو قير العالي
                p.lead.mt-4 أنُشئت معاهد أبو قير العليا في عام 1998 تمشيا مع سياسة الحكومة المصرية لتشجيع التعليم الخاص حيث أصدر المجلس الأعلى المصري للجامعات والمعاهد الخاصة رخصتها والتي تعتبر صالحة اعتبارا من العام الدراسي 2000/2001 و تقدم مجموعة من البرامج التعليمية المتميزة صممت بعناية لمواكبة التغيرات و التحديات المعاصرة. فهذه البرامج تقوم بالتركيز على التطبيق العملي أثناء العملية التعليمية مما يساعد الطالب على اكتساب الأدوات اللازمة لتطوير مهاراته الفكرية و المعرفية و اعداده كخريجا متميزا قادرأ على مواكبة متطلبات سوق العمل .
                a(href="#", title="title" class="btn") للمذيد من المعلومات
                    i.fab.fa-wikipedia-w.fa-2x.mx-1.float-left
                //-slider Section
                .about-sliders.my-3
                    .row.justify-content-between
                        //-MIS
                        .col-12.col-md-4
                            div(id="carouselmis" class="carousel slide carousel-fade" data-ride="carousel" data-touch="true")
                                ol(class="carousel-indicators")
                                    li(data-target="#carouselmis" data-slide-to="0" class="active")
                                    li(data-target="#carouselmis" data-slide-to="1" )
                                    li(data-target="#carouselmis" data-slide-to="2" )
                                div(class="carousel-inner")
                                    div(class="carousel-item active" style="background-image: url(img/mis-1.jpg);")
                                        div.carousel-body.d-block
                                            h2.h4 المعهد العالي للحاسب الآلي ونظم المعلومات
                                            p.lead يمنح درجة البكالوريوس في نظم المعلومات الإدارية بقرار الانشاء رقم  1434 في 10/9/200 وقرار المعادلة الصادر من المجلس الأعلي للجامعات رقم 244 في 22/9/2013 بمعادلة درجة البكالوريوس في شعبه نظم المعلومات الادارية التي يمنحها المعهد
                                            a(href="#", title="title" class="btn") Read More 
                                    div(class="carousel-item " style="background-image: url(img/mis-2.jpg);")
                                        div.carousel-body.d-block
                                            
                                    div(class="carousel-item " style="background-image: url(img/mis-3.jpg);")
                                        div.carousel-body.d-block
                                            
                        //-Hotel
                        .col-12.col-md-4
                            div(id="carouselhotel" class="carousel slide carousel-fade" data-ride="carousel")
                                ol(class="carousel-indicators")
                                    li(data-target="#carouselhotel" data-slide-to="0" class="active")
                                    li(data-target="#carouselhotel" data-slide-to="1" )
                                    li(data-target="#carouselhotel" data-slide-to="2" )
                                div(class="carousel-inner")
                                    div(class="carousel-item active" style="background-image: url(img/hotel-1.jpg);")
                                        div.carousel-body.d-block
                                            h2.h4 المعهد العالي للسياحة والفنادق
                                            p(class="lead" style="font-size:1.35rem") يمنح درجة البكالوريوس في التخصصات:بكالوريوس دراسات سياحية شعبة ( إدارة الأعمال السياحية – إدارة شراكات الطيران – إدارة شركات الملاحة – إدارة الأحداث الخاصة – إدارة الأحداث الرياضية)بكالوريوس إدارة الضيافة شعبة ( إدارة الفنادق – إدارة المطاعم – إدارة خدمات الضيافة الجوية والبحرية – إدارة فنون الطهي – إدارة خدمة العملاء – إدارة الاحداث الخاصة )
                                            a(href="#", title="title" class="btn") Read More 
                                    div(class="carousel-item " style="background-image: url(img/hotel-2.jpg);")
                                        div.carousel-body.d-block
                                            
                                    div(class="carousel-item " style="background-image: url(img/hotel-3.jpg);")
                                        div.carousel-body.d-block
                                            
                        //-sti
                        .col-12.col-md-4
                            div(id="carouselstitus" class="carousel slide carousel-fade" data-ride="carousel")
                                ol(class="carousel-indicators")
                                    li(data-target="#carouselstitus" data-slide-to="0" class="active")
                                    li(data-target="#carouselstitus" data-slide-to="1" )
                                    li(data-target="#carouselstitus" data-slide-to="2" )
                                div(class="carousel-inner")
                                    div(class="carousel-item active" style="background-image: url(img/stitus-1.jpg);")
                                        div.carousel-body.d-block
                                            h2.h4 المعهد العالي لترميم الآثار
                                            p(class="lead" style="font-size:1.35rem") حيث هو معهــد ترميـــم الآثار الخاص الوحيد في مصــــر يحصل الخريج علي درجة البكالوريوس في الإرشاد السياحي المعادل لدرجة بكالوريوس الارشاد السياحي التي تمنحة الجامعات المصرية بقرار المجلس الاعلي للجامعات بالقرار الوزارى رقم 201 لسنة 2009 هو تخصص دقيق ضمن تخصصات أقسام كليات الاثار فهو يهتم بدراسة مواد الأثار وصيانتها سواء كانت عضوية او غير عضوية.
                                            a(href="#", title="title" class="btn") Read More 
                                    div(class="carousel-item " style="background-image: url(img/stitus-2.jpg);")
                                        div.carousel-body.d-block
                                            
                                    div(class="carousel-item " style="background-image: url(img/stitus-3.jpg);")
                                        div.carousel-body.d-block

        //-My Scripts File
        include helper/script
            
            
            