<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-My Links File
        include helper/link
        title Aboukir High Institutes
    body
        //-banner Area
        .header-area
            //-overlay
            .overlay
            //-Header Page
            include helper/header
            //-banner
            .banner
                .container
                    .row
                        .col-sm-6.py-5
                            h2.h1 Aboukir High Institutes
                            p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nesciunt fuga omnis voluptatum doloremque eum.
                            button(class="see-more") See More




        //-My Scripts File
        include helper/script
        