<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-My Links File
        include helper/link
        title Aboukir High Institutes
    body
        //-banner Area
        .header-area
            //-overlay
            .overlay
            //-Header Page
            include helper/header
            //-banner
            

            .banner
                .container
                    .row
                        .col-sm-6.py-5.banner-info.text-center
                            h2.h1 Aboukir High Institutes
                            .typed-area
                                h2(class="typing") 
                            .icons.my-3
                                a(href="#", title="title") 
                                    i.fab.fa-facebook.fa-3x
                                a(href="#", title="title") 
                                    i.fab.fa-instagram.fa-3x
                                a(href="#", title="title")
                                    i.fab.fa-twitter.fa-3x
                                    
                            button(class="see-more") See More

            


        //-My Scripts File
        include helper/script
            
            