<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-My Links File
        include helper/link
        title Aboukir High Institutes
    body

        //-banner Area
        .header-area
            //-overlay
            .overlay
            //-Header Page
            include helper/header
            //-banner
            div( class="d-none d-md-block" aria-live="polite" aria-atomic="true" style="position: relative;")
                    div(style="position: absolute; top: 10px; right: 10px;")
                    
                        div(class="toast" data-animation="true" data-autohide="true" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true")
                            div(class="toast-header")
                                strong(class="mr-auto text-primary") Axel
                                small(class="text-muted") 1 m
                                button(type="button" class="ml-2 mb-1 close" data-dismiss="toast") &times;
                            div(class="toast-body") Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, nobis?
                        div(class="toast" data-animation="true" data-autohide="true" data-delay="6000" role="alert" aria-live="assertive" aria-atomic="true")
                            div(class="toast-header")
                                strong(class="mr-auto text-primary") Axel
                                small(class="text-muted") 1 m
                                button(type="button" class="ml-2 mb-1 close" data-dismiss="toast") &times;
                            div(class="toast-body") Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, nobis?
            .banner
                .container
                    .row
                        .col-sm-6.py-5.banner-info.text-center
                            h2.h1 Aboukir High Institutes
                            .typed-area
                                h2(class="typing") 
                            .icons.my-3
                                a(href="#", title="facebook") 
                                    i.fab.fa-facebook.fa-3x
                                a(href="#", title="title") 
                                    i.fab.fa-instagram.fa-3x
                                a(href="#", title="title")
                                    i.fab.fa-twitter.fa-3x
                                    
                            button(class="see-more") See More
        
            


        //-My Scripts File
        include helper/script
            
            