@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  height: 5000px; }

.navbar-area .navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  padding: 0 10px;
  z-index: 1; }
  .navbar-area .navbar .navbar-brand {
    padding: 0; }
    .navbar-area .navbar .navbar-brand img.logo {
      width: 70px; }
  .navbar-area .navbar .navbar-toggler {
    border-color: white;
    outline: none; }
  .navbar-area .navbar .navbar-nav li.nav-item {
    margin: 0 10px; }
    .navbar-area .navbar .navbar-nav li.nav-item a {
      font-size: 1rem;
      font-family: "Lemon", cursive;
      color: white; }
      .navbar-area .navbar .navbar-nav li.nav-item a:hover {
        color: var(--warning); }
  .navbar-area .navbar .navbar-nav .active .nav-link {
    color: var(--warning); }
    .navbar-area .navbar .navbar-nav .active .nav-link::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--warning); }
  .navbar-area .navbar .dropdown .btn-secondary {
    background-color: transparent;
    border-color: transparent; }

.header-area {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }
  .header-area .notification {
    z-index: 9999; }
    .header-area .notification .toast {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .header-area .notification .toast .toast-header {
        background-color: black; }
        .header-area .notification .toast .toast-header .text-primary {
          color: white !important; }
        .header-area .notification .toast .toast-header .text-muted {
          color: white !important; }
        .header-area .notification .toast .toast-header .close {
          color: red; }
  .header-area .fixed-area {
    z-index: 9999;
    height: 250px;
    width: 10px;
    position: fixed;
    top: 25%;
    text-align: center;
    padding: 10px;
    margin-left: 10px; }
    .header-area .fixed-area .social {
      margin-left: -200px;
      width: 230px;
      padding: 0;
      display: inline-table;
      height: 0px;
      background-color: rgba(0, 0, 0, 0.513);
      -webkit-transition-property: margin-left;
      transition-property: margin-left;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
      -webkit-box-shadow: 0px 0px 6px 0px #3E3D3D;
              box-shadow: 0px 0px 6px 0px #3E3D3D;
      cursor: pointer; }
      .header-area .fixed-area .social a {
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        line-height: 3; }
        .header-area .fixed-area .social a p {
          color: white;
          position: relative;
          left: -10px;
          font-family: 'Lato'; }
          .header-area .fixed-area .social a p i {
            left: 35px;
            position: relative;
            vertical-align: middle;
            text-align: center;
            font-size: 2rem; }
      .header-area .fixed-area .social:hover {
        margin-left: -30px;
        width: 230px;
        background-color: #3b5998; }
    .header-area .fixed-area .facebook:hover {
      background-color: #3b5998; }
    .header-area .fixed-area .instagram:hover {
      background-color: #e4405f; }
    .header-area .fixed-area .twitter:hover {
      background-color: #4099FF; }
    .header-area .fixed-area .youtube:hover {
      background-color: #E52D27; }
    .header-area .fixed-area .google-plus:hover {
      background-color: #DD4B39; }
  .header-area .shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .header-area .shape svg {
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .header-area .shape svg .shape-fill {
        fill: #fff; }
  .header-area .banner {
    color: white;
    width: 100%;
    height: 100%; }
    .header-area .banner .banner-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 80vh;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: auto; }
      .header-area .banner .banner-info .h1 {
        font-size: 3.5rem;
        font-family: "Dancing Script", cursive;
        font-weight: bold;
        letter-spacing: 5px;
        text-shadow: 2px 2px 5px black; }
      .header-area .banner .banner-info .typed-area {
        display: block; }
        .header-area .banner .banner-info .typed-area .typing {
          display: inline-block;
          font-size: 2rem;
          color: var(--warning);
          font-family: "Lemon", cursive; }
      .header-area .banner .banner-info .icons a {
        text-decoration: none;
        color: white;
        margin: 0 10px; }
        .header-area .banner .banner-info .icons a i:hover {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          color: var(--warning);
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
