@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cairo:400,900&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  height: 5000px; }

::-webkit-scrollbar {
  width: 0; }

/* ::-webkit-scrollbar-thumb {
    background:linear-gradient(transparent,#ffc107);
    border-radius: 5px;
    
}
::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(transparent,#30ff00);
} */
.navbar-area .navbar {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  padding: 0 10px;
  display: block;
  width: 100%;
  z-index: 1; }
  .navbar-area .navbar .navbar-brand {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive; }
    .navbar-area .navbar .navbar-brand img.logo {
      width: 70px; }
  .navbar-area .navbar .navbar-toggler {
    padding: 0;
    border: none;
    outline: none; }
    .navbar-area .navbar .navbar-toggler svg {
      width: 40px; }
  .navbar-area .navbar .navbar-nav li.nav-item {
    margin: 0 10px; }
    .navbar-area .navbar .navbar-nav li.nav-item a {
      font-size: 1rem;
      font-family: "Cairo", sans-serif;
      font-weight: bold;
      color: white;
      letter-spacing: -1px; }
      .navbar-area .navbar .navbar-nav li.nav-item a:hover {
        color: var(--warning); }
  .navbar-area .navbar .navbar-nav .active .nav-link {
    color: var(--warning); }
    .navbar-area .navbar .navbar-nav .active .nav-link::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--warning); }
  .navbar-area .navbar .login-butto-nav .trigger-btn {
    display: inline-block;
    margin: 5px auto;
    background-color: var(--warning);
    border-radius: 5px 5px 5px 15px;
    padding: 8px 25px;
    color: #fff;
    font-weight: bold; }
  .navbar-area .navbar .login-butto-nav .trigger-btn:hover {
    color: #524a00;
    text-decoration: none; }
  .navbar-area .navbar .modal-login {
    width: 350px;
    margin: 10% auto; }
    .navbar-area .navbar .modal-login .modal-content {
      padding: 20px;
      border-radius: 5px;
      border: none;
      color: #999;
      border-radius: 1px;
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f3f3f3;
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 25px; }
      .navbar-area .navbar .modal-login .modal-content .modal-header {
        border-bottom: none;
        position: relative;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .navbar-area .navbar .modal-login .modal-content .modal-header h4 {
          color: #636363;
          text-align: center;
          font-size: 26px;
          margin-top: 0; }
        .navbar-area .navbar .modal-login .modal-content .modal-header .close {
          position: absolute;
          top: -10px;
          right: -10px; }
      .navbar-area .navbar .modal-login .modal-content .modal-body .form-group {
        margin-bottom: 20px; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .input-group-addon {
          max-width: 42px;
          text-align: center;
          background: none;
          border-width: 0 0 1px 0;
          padding-left: 5px;
          border-radius: 0; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .form-control {
          min-height: 38px;
          padding-left: 5px;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important;
          border-width: 0 0 1px 0;
          border-radius: 0; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .form-control:focus {
          border-color: #ccc; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .btn {
          font-size: 16px;
          font-weight: bold;
          background: var(--warning);
          border-radius: 3px;
          border: none;
          min-width: 140px;
          outline: none !important; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .btn:hover, .navbar-area .navbar .modal-login .modal-content .modal-body .form-group .btn:focus {
          background: #179b81; }
      .navbar-area .navbar .modal-login .modal-content .modal-body .hint-text {
        text-align: center;
        padding-top: 5px;
        font-size: 13px; }
        .navbar-area .navbar .modal-login .modal-content .modal-body .hint-text a {
          color: black; }
      .navbar-area .navbar .modal-login .modal-content .modal-footer {
        color: #999;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -25px -25px;
        font-size: 13px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .navbar-area .navbar .modal-login .modal-content .modal-footer a {
          color: #000;
          text-decoration: underline; }
        .navbar-area .navbar .modal-login .modal-content .modal-footer a:hover {
          text-decoration: none; }
        .navbar-area .navbar .modal-login .modal-content .modal-footer .fa {
          font-size: 21px; }

.modal-backdrop {
  z-index: 0 !important; }

.header-area {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }
  .header-area video {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .header-area .notification {
    z-index: 9998; }
    .header-area .notification .toast {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      font-family: "Cairo", sans-serif; }
      .header-area .notification .toast .toast-header {
        background-color: black; }
        .header-area .notification .toast .toast-header .text-primary {
          color: white !important; }
        .header-area .notification .toast .toast-header .text-muted {
          color: white !important; }
        .header-area .notification .toast .toast-header .close {
          color: red; }
  .header-area .fixed-area {
    z-index: 9997;
    width: 10px;
    height: 400px;
    position: relative;
    top: 40%;
    text-align: center;
    padding: 10px;
    margin: -200px 0 auto 10px; }
    .header-area .fixed-area .social {
      margin-left: -200px;
      width: 230px;
      height: 50px;
      padding: 0;
      display: inline-table;
      background-color: rgba(0, 0, 0, 0.513);
      -webkit-transition-property: margin-left;
      transition-property: margin-left;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
      -webkit-box-shadow: 0px 0px 6px 0px #3E3D3D;
              box-shadow: 0px 0px 6px 0px #3E3D3D;
      cursor: pointer; }
      .header-area .fixed-area .social a {
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        line-height: 3; }
        .header-area .fixed-area .social a p {
          color: white;
          position: relative;
          margin: 5px 0;
          font-family: 'Lato';
          font-weight: bold; }
          .header-area .fixed-area .social a p i {
            float: right;
            padding: 5px 10px;
            position: relative;
            vertical-align: middle;
            text-align: center;
            font-size: 2rem; }
      .header-area .fixed-area .social:hover {
        margin-left: -30px;
        width: 230px;
        background-color: #3b5998; }
    .header-area .fixed-area .facebook:hover {
      background-color: #3b5998; }
    .header-area .fixed-area .instagram:hover {
      background-color: #e4405f; }
    .header-area .fixed-area .twitter:hover {
      background-color: #4099FF; }
    .header-area .fixed-area .youtube:hover {
      background-color: #E52D27; }
    .header-area .fixed-area .university:hover {
      background-color: #DD4B39; }
    .header-area .fixed-area .align-center:hover {
      background-color: #ffd000; }
    .header-area .fixed-area .edit:hover {
      background-color: #147a33; }
    .header-area .fixed-area .book:hover {
      background-color: #2f147a; }
  .header-area .shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .header-area .shape svg {
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .header-area .shape svg .shape-fill {
        fill: #fff; }
  .header-area .banner {
    height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    color: white;
    width: 100%; }
    .header-area .banner .banner-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: auto; }
      .header-area .banner .banner-info .h1 {
        font-size: 3.5rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 5px;
        text-shadow: 2px 2px 5px black; }
      .header-area .banner .banner-info .h3 {
        font-family: "Cairo", sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: -1px;
        text-shadow: 2px 2px 5px black; }
      .header-area .banner .banner-info .typed-area {
        display: block; }
        .header-area .banner .banner-info .typed-area .typing {
          display: inline-block;
          font-size: 2rem;
          color: var(--warning);
          font-family: "Cairo", sans-serif;
          background-color: rgba(0, 0, 0, 0.35);
          padding: 5px;
          border-radius: 8px; }
      .header-area .banner .banner-info .icons a {
        text-decoration: none;
        color: white;
        margin: 0 10px; }
        .header-area .banner .banner-info .icons a i:hover {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          color: var(--warning);
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

.about-area .h1 {
  font-size: 6.5rem;
  font-weight: bold;
  font-family: "Lemon", cursive;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.12);
  letter-spacing: 5px; }

.about-area .h3 {
  margin-top: -90px;
  font-size: 3rem;
  font-family: "Cairo", sans-serif;
  letter-spacing: -1px; }

.about-area .lead {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  color: #505050; }

.about-area .btn {
  background-color: #216f05;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 11px 20px;
  font-family: "Cairo", sans-serif;
  -webkit-box-shadow: 2px 2px 5px #3E3D3D;
          box-shadow: 2px 2px 5px #3E3D3D; }

.about-area .about-sliders .col-md-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  max-width: 31%;
  padding: 0; }

.about-area .about-sliders .carousel-indicators li {
  background-color: var(--warning); }

.about-area .about-sliders .carousel-inner {
  height: 550px;
  -webkit-box-shadow: 5px 3px 9px #00000070;
          box-shadow: 5px 3px 9px #00000070;
  border-radius: 5px; }
  .about-area .about-sliders .carousel-inner .carousel-item {
    height: 400px;
    width: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
    .about-area .about-sliders .carousel-inner .carousel-item .carousel-body {
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.35); }
      .about-area .about-sliders .carousel-inner .carousel-item .carousel-body .h4 {
        color: var(--warning);
        font-family: "Cairo", sans-serif;
        font-weight: bold;
        margin-bottom: 20px; }
      .about-area .about-sliders .carousel-inner .carousel-item .carousel-body .lead {
        color: white; }
      .about-area .about-sliders .carousel-inner .carousel-item .carousel-body .btn {
        font-weight: bold;
        background-color: #1e7100c2; }

.about-area .sliders-img {
  width: 100%; }
  .about-area .sliders-img div {
    background-size: cover;
    height: 250px;
    background-position: center; }

.nambers-area {
  background-image: url(../img/nambers.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
  position: relative; }
  .nambers-area .shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .nambers-area .shape svg {
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .nambers-area .shape svg .shape-fill {
        fill: #fff; }
  .nambers-area .nambers .namber {
    font-size: 3.5rem;
    font-weight: bold;
    color: white; }
  .nambers-area .nambers .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    font-family: "Cairo", sans-serif; }

.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  border-radius: 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffc107), to(#e0c946));
  background: linear-gradient(to top, #ffc107, #e0c946); }

.slideToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--warning);
  border-radius: 5%;
  padding: 0 5px;
  cursor: pointer;
  z-index: 99999;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65); }
  .slideToTop i {
    color: white; }
  .slideToTop:hover {
    background-color: rgba(0, 0, 0, 0.513); }

/*# sourceMappingURL=main.css.map */
