//-variybles
@import "helper/var";
//-Global items
@import "helper/global";
//-header area
@import "helper/header";

//-banner 
.header-area {
    width: 100%;
    height: 100vh;
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
    //-page-Notification
    .notification {
        z-index: 9999;
        .toast {
            transition: all 1s ease-in-out;
            .toast-header {
                background-color: black;
                .text-primary {
                    color: white !important;
                }
                .text-muted {
                    color: white !important;
                }
                .close {
                    color: red;
                }
            }
        }
    }
    //-fixed-area-icons
    .fixed-area {
        z-index: 9999;
        height: 250px;
        width: 10px;
        position: fixed;
        top: 25%;
        text-align: center;
        padding: 10px;
        margin-left: 10px;
        .social {
            margin-left: -200px;
            width: 230px;
            padding: 0;
            display: inline-table;
            height: 0px;
            background-color: rgba(0, 0, 0, 0.513);
            transition-property: margin-left;
            transition-duration: 0.2s;
            transition-delay: 0.2s; 
            box-shadow: 0px 0px 6px 0px #3E3D3D;
            cursor: pointer;
            a {
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                line-height: 3;
                p {
                    color: white;
                    position: relative;
                    left: -10px;
                    font-family: 'Lato';
                    i {
                        left: 35px;
                        position: relative;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
            }
            &:hover {
                margin-left: -30px;
                width: 230px;
                background-color: #3b5998;
            }
        }
        .facebook:hover {
            background-color: #3b5998;
        }
        
        .instagram:hover {
            background-color: #e4405f;
        }
        .twitter:hover {
            background-color: #4099FF;
        }
        .youtube:hover {
            background-color: #E52D27;
        }
        .google-plus:hover {
            background-color: #DD4B39;
        }
    }
        //-fixed-area-icons
    .fixed-area2 {
        z-index: 9999;
        width: 50px;
        position: fixed;
        top: 25%;
        right:0;
        text-align: center;
        .social {
            width: 250px;
            margin-right: -200px;
            background-color: rgba(0, 0, 0, 0.513);
            transition: all 200ms ease;
            box-shadow: 0px 0px 6px 0px #3E3D3D;
            cursor: pointer;
            a {
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                line-height: 3;
                color: white;
                display: inline-table;
                i {
                    display: inline;
                    right: 35px;
                    position: relative;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 2rem;
                    
                }
                p {
                    display: inline-block;
                    color: white;
                    position: relative;
                    left: -10px;
                    font-family: 'Lato';
                }
                    
                
            }
            &:hover {
                margin-left: -200px;
                background-color: #3b5998;
            }
        }
        .align-center:hover {
            background-color: #3b5998;
        }
        
        .university:hover {
            background-color: #e4405f;
        }
        .edit:hover {
            background-color: #4099FF;
        }
        .list-ul:hover {
            background-color: #E52D27;
        }
        .book:hover {
            background-color: #DD4B39;
            
        }
    }
    //-shaper area
    .shape {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;
        bottom: -1px;
        transform: rotate(180deg);
        svg {
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .shape-fill {
            fill:#fff;
            }
        }
    }
    //-banner area
    .banner {
        color: white;
        width: 100%;
        height: 100%;
        //-Bainner Info area
        .banner-info {
            display: flex;
            height: 80vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            .h1 {
                font-size:3rem;
                font-family: $font-tow;
                font-weight: bold;
                letter-spacing: 5px;
                text-shadow: 2px 2px 5px black;
            }
            .typed-area {
                display: block;
                .typing {
                    display: inline-block;
                    font-size: 2rem;
                    color: $color-tow;
                    font-family: $font-tow;
                }
            }
            .icons {
                a {
                    text-decoration: none;
                    color: white;
                    margin: 0 10px;
                    i:hover {
                        transition: all 0.5s ease;
                        color: $color-tow;
                        transform: scale(1.2);
                    }
                }
            }
            
        }
    }
}
//-
