//-variybles
@import "helper/var";
//-Global items
@import "helper/global";
//-header area
@import "helper/header";


//-banner 
.header-area {
    width: 100%;
    height: 100vh;
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    video {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: center;
        
    }
    //-page-Notification
    .notification {
        z-index: 9998;
        .toast {
            transition: all 1s ease-in-out;
            font-family: $font-ar;
            .toast-header {
                background-color: black;
                .text-primary {
                    color: white !important;
                }
                .text-muted {
                    color: white !important;
                }
                .close {
                    color: red;
                }
            }
        }
    }
    //-fixed-area-icons
    .fixed-area {
        z-index: 9997;
        width: 10px;
        height: 400px;
        position: relative;
        top: 40%;
        text-align: center;
        padding: 10px;
        margin:-200px 0 auto 10px;
        .social {
            margin-left: -200px;
            width: 230px;
            height: 50px;
            padding: 0;
            display: inline-table;
            background-color: rgba(0, 0, 0, 0.513);
            transition-property: margin-left;
            transition-duration: 0.2s;
            transition-delay: 0.2s; 
            box-shadow: 0px 0px 6px 0px #3E3D3D;
            cursor: pointer;
            a {
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                line-height: 3;
                p {
                    color: white;
                    position: relative;
                    margin: 5px 0;
                    font-family: 'Lato';
                    font-weight: bold;
                    i {
                        float: right;
                        padding: 5px 10px;
                        position: relative;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
            }
            &:hover {
                margin-left: -30px;
                width: 230px;
                background-color: #3b5998;
            }
        }
        .facebook:hover {
            background-color: #3b5998;
        }
        
        .instagram:hover {
            background-color: #e4405f;
        }
        .twitter:hover {
            background-color: #4099FF;
        }
        .youtube:hover {
            background-color: #E52D27;
        }
        .university:hover {
            background-color: #DD4B39;
        }
        .align-center:hover {
            background-color: rgb(255, 208, 0);
        }
        .edit:hover {
            background-color: rgb(20, 122, 51);
        }
        .book:hover {
            background-color: rgb(47, 20, 122);
        }
    }
    //-shaper area
    .shape {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;
        bottom: -1px;
        transform: rotate(180deg);
        svg {
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .shape-fill {
            fill:#fff;
            }
        }
    }
    //-banner area
    .banner {
        height: 400px;
        position: absolute;
        top: 50%;
        margin-top: -200px;
        color: white;
        width: 100%;
        //-Bainner Info area
        .banner-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            .h1 {
                font-size:3.5rem;
                font-family: $font-for;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 5px;
                text-shadow: 2px 2px 5px black;
            }
            .h3 {
                font-family: $font-ar;
                font-size: 3.5rem;
                font-weight: bold;
                letter-spacing: -1px;
                text-shadow: 2px 2px 5px black;
            }
            .typed-area {
                display: block;
                .typing {
                    display: inline-block;
                    font-size: 2rem;
                    color: $color-tow;
                    font-family: $font-ar;
                    background-color: rgba(0, 0, 0, 0.35);
                    padding: 5px;
                    border-radius: 8px;
                }
            }
            .icons {
                a {
                    text-decoration: none;
                    color: white;
                    margin: 0 10px;
                    i:hover {
                        transition: all 0.5s ease;
                        color: $color-tow;
                        transform: scale(1.2);
                    }
                }
            }
            
        }
    }
}
//-about-area
.about-area {
    .h1 {
        font-size: 6.5rem;
        font-weight: bold;
        font-family: $font-tow;
        letter-spacing: 4px;
        color: rgba(0, 0, 0, 0.12);
        letter-spacing: 5px;
    }
    .h3 {
        margin-top: -90px;
        font-size: 3rem;
        font-family: $font-ar;
        letter-spacing: -1px;
    }
    .lead {
        font-family: $font-ar;
        font-size: 1.5rem;
        color: #505050;
    }
    .btn {
        background-color: $color-one;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        padding: 11px 20px;
        font-family: $font-ar;
        box-shadow: 2px 2px 5px #3E3D3D;
    }
    .about-sliders {
        .col-md-4{
            flex: 0 0 31%;
            max-width: 31%;
            padding: 0;
        }
        .carousel-indicators {
            li {
                background-color: $color-tow;
            }
        }
        .carousel-inner {
            height: 550px;
            box-shadow: 5px 3px 9px #00000070;
            border-radius: 5px;
            .carousel-item {
                height: 400px;
                width: 100%;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                .carousel-body {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.35);
                    .h4 {
                        color: $color-tow;
                        font-family: $font-ar;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    .lead {
                        color: white;
                    }
                    .btn {
                        font-weight: bold;
                        background-color: #1e7100c2;
                    }
                }
            }
            
        }
    }
}



//-Global Sections---------------

//-Scroll bar
.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 6px; 
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to top,#ffc107,rgb(224, 201, 70));
}
//-Slide To Top
.slideToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: $color-tow;
    border-radius: 5%;
    padding:0 5px;
    cursor: pointer;
    z-index: 99999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    i {
        color: white;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.513);
    }
}